.community-page{
    display: flex;
}

.community-view{
    width: 100vw;
    padding: 2vw;
}

.communities{
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2vw;

}

.community-card{
    width: 25vw;
    height: 13vw;
    border-radius: 1vw;
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/0*p8p6_icdbz1tQT99.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-card h1{
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
}