.signup-page {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.signup-card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: white;
    border-radius: 1vw;
    width: 80vw;
    height: 42vw;
    border: 2px solid rgb(103, 103, 103);
    color: black;
}

.signup-img {
    height: max-content;
    width: max-content;
    padding: 2vw;
    z-index: 99;
}

.signup-img img {
    border-radius: 2vw;
    height: 35vw;
    width: 40vw;
}

.signup-form {
    width: max-content;
    height: 40vw;
    border-radius: 2vw;
    z-index: 99;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2vw;
    padding-top: 2;
    padding-bottom: 2vw;
}

.signup-form form label {
    padding: 0.5vw 0;
    text-align: start;
}

.signup-form form input {
    border-radius: 0.5vw;
    border: 1px solid black;
    padding: 0.5vw;
    height: 1.5vw;
    width: 25vw;
    position: relative;
}

.signup-form img {
    position: absolute;
    width: 1.5vw;
}

.password {
    left: 79.8%;
    top: 65.5%;
    cursor: pointer;
}

.password-signin {
    left: 79.8%;
    top: 45.3%;
    cursor: pointer;
}

.confirm {
    left: 79.8%;
    top: 75.5%;
    cursor: pointer;
}

.signup-form button {
    cursor: pointer;
    color: white;
    border-radius: 0.5vw;
    width: 26vw;
    border: none;
    background: linear-gradient(90deg, rgb(115, 115, 255) 0%, rgb(82, 82, 255) 25%, rgb(54, 87, 255) 70%);
    margin-top: 0.5vw;
    padding: 0.5vw;
}

#visual {
    position: absolute;
    z-index: 1;
    left: 60%;
    top: 40%;
}

#visual1 {
    position: absolute;
    z-index: 1;
    left: -20%;
    top: -30%;
}

.option {
    padding-top: 0.5vw;
}

.option a {
    all: unset;
    cursor: pointer;
    color: rgb(122, 95, 255);
    font-size: 0.8vw;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}